body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #C4FCF0, #2bbf9b);
    font-family: Arial, sans-serif;
}

.main-content {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    align-items: center;
}

form input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

form button {
    background-color: #ffb6b6;
    color: #7C00FE;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background-color: #fdbcbc;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.back-btn {
    background-color: #ffb6b6;
    color: #7C00FE;
    border: 1px solid black;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.back-btn:hover {
    background-color: #fdbcbc;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.message {
    color: red;
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    .main-content {
        width: 90%;
        padding: 1rem;
    }
    form label {
        font-size: 0.95rem;
    }
    form input,
    textarea {
        font-size: 0.95rem;
    }
    form button {
        font-size: 0.95rem;
        padding: 0.4rem 0.8rem;
    }
}
